@import "../../common/variables";

.tree_menu {
  ul {
    &:after {
      display: none;
    }
    li {
      @include body2(var(--magenta400));
      cursor: pointer;
      &.active {
        > .align {
          color: var(--pink400);
          font-weight: 700;
        }
      }

      .tree_arrow {
        &.down {
          svg {
            transform: rotate(90deg);
          }
        }
      }

      .align {
        padding: 10px;
        display: inline-flex;
        align-items: flex-start;
        justify-content: space-between;
        span {
          flex: 1;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
      }

      i {
        width: 20px;
        height: 20px;
        margin-right: 10px;
      }
    }
  }

  .depth_2 {
    margin-left: 20px;
  }
  .depth_3 {
    margin-left: 30px;
    padding-left: 30px;
  }
}
