// Common styles for .step elements
.step {
  flex: 1;
  position: relative;
  dl {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    dt {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 2px solid var(--magenta100);
      font-size: 2.2rem;
      font-weight: 600;
      line-height: 2.8rem;
      color: var(--magenta100);
    }

    dd .title {
      font-size: 1.5rem;
      line-height: 2rem;
      color: var(--magenta200);
      font-weight: 600;
      white-space: -0.4px;
      margin-top: 8px;
    }
  }

  &.horizontal {
    dl {
      justify-content: flex-start;
      flex-direction: row;

      dt {
        width: 28px;
        height: 28px;
        background-color: var(--magenta50);
        border: 0;
        color: var(--magenta200);
        font-size: 1.4rem;
        img {
          width: 14px;
          height: 10px;
        }
      }

      dd .title {
        font-size: 1.4rem;
        line-height: 1.8rem;
        color: var(--magenta200);
        font-weight: 600;
        white-space: -0.4px;
        margin-top: 0;
        margin-left: 10px;
      }
    }

    &.primary {
      &.completed dl {
        dt {
          background-color: var(--pink300);
        }

        dd .title {
          color: var(---magenta800);
        }
      }

      &.active dl {
        dt {
          color: #fff;
          background-color: var(--pink300);
        }

        dd .title {
          color: var(---magenta800);
        }
      }
    }
  }

  &.completed dt {
    border: 0;
    text-indent: -999rem;
  }

  &.primary {
    &.completed {
      &::after {
        background-color: var(--pink300);
      }

      dl {
        dt {
          background-color: var(--pink300);
        }

        dd .title {
          color: var(---magenta800);
        }
      }
    }

    &.active dl {
      dt {
        color: var(--pink300);
        border: 2px solid var(--pink300);
      }

      dd .title {
        color: var(---magenta800);
      }
    }
  }

  &.secondary {
    &.completed {
      &::after {
        background-color: var(--success);
      }

      dl {
        dt {
          background-color: var(--success);
        }

        dd .title {
          color: var(---magenta800);
        }
      }
    }

    &.active dl {
      dt {
        background-color: var(--bg-f);
        border: 2px solid var(--success);
        color: var(--success);
      }

      dd .title {
        color: var(---magenta800);
      }
    }
  }
}

// Horizontal and Vertical Stepper styles
.stepper {
  &.horizontal {
    display: flex;
    justify-content: flex-start;

    .step {
      display: flex;
      align-items: center;
      gap: 20px;

      &::after {
        content: "";
        display: block;
        width: 50%;
        height: 2px;
        background-color: var(--magenta100);
      }

      &:last-child::after {
        display: none;
      }

      &.completed::after {
        background-color: var(--pink300);
      }
    }
    .secondary {
      &.completed {
        &::after {
          background-color: var(--success);
        }

        dl {
          dt {
            background-color: var(--success);
          }

          dd .title {
            color: var(---magenta800);
          }
        }
      }

      &.active dl dt {
        background-color: var(--success);
        border: 2px solid var(--success);
        color: var(--bg-f);
      }
    }
  }
  &.vertical {
    display: flex;
    flex-direction: column;

    .step {
      flex: 1;

      &::after {
        content: "";
        display: block;
        width: 2px;
        height: calc(100% - 12px);
        background-color: var(--magenta100);
        position: absolute;
        right: auto;
        top: 40px;
        left: 20px;
      }

      &:last-child::after {
        display: none;
      }

      + .step {
        margin-top: 28px;
      }

      dl {
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;

        dd {
          padding: 10px 10px 0;

          .title {
            margin-top: 0;
          }
        }
      }
    }
  }
}
// Header Stepper styles
.stepper.header {
  display: flex;
  justify-content: flex-start;
  padding-right: 20px;

  .step {
    flex: inherit;
    margin-right: 12px;
    padding-right: 42px;

    &::after {
      content: "";
      display: block;
      width: 30px;
      height: 1px;
      background-color: var(--magenta100);
      position: absolute;
      top: 50%;
      right: 0;
    }

    &:last-child {
      margin-right: 0;
      padding-right: 0;

      &::after {
        display: none;
      }
    }

    dl {
      flex-direction: row;

      dt {
        width: 28px;
        height: 28px;
        background-color: var(--magenta50);
        border: 0;
        color: var(--magenta200);
        font-size: 1.4rem;

        img {
          width: 14px;
          height: 10px;
        }
      }

      dd .title {
        margin-top: 0;
        margin-left: 10px;
      }
    }

    &.primary {
      &.completed {
        &::after {
          background-color: var(--pink400);
        }
        dl {
          dt {
            background-color: var(--pink300);
          }
          dd .title {
            color: var(---magenta800);
          }
        }
      }
      &.active dl {
        dt {
          color: #fff;
          background-color: var(--pink300);
        }
        dd .title {
          color: var(---magenta800);
        }
      }
    }

    &.secondary {
      &.completed {
        &::after {
          background-color: var(--success);
        }

        dl {
          dt {
            background-color: var(--success);
          }
          dd .title {
            color: var(---magenta800);
          }

          &.completed::after {
            background-color: var(--pink300);
          }

          &.active dl dt {
            color: #fff;
            border: 2px;
            background-color: var(--success);
          }

          &.active dl dd .title {
            color: var(---magenta800);
          }
        }
      }
    }
  }
}

//컴포너틑 영역
.body {
  padding-top: 20px;
  min-height: 80px;
}
