@import "../../common/variables";
.pagination_wrap {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  .pagination {
    margin: 0 10px;
    display: flex;
    align-items: center;
    li {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      width: 40px;
      height: 40px;
      border-radius: 8px;
      @include body1(var(--magenta400));
      &.active {
        color: var(--pink400);
        background-color: var(--pink50);
      }
    }
  }
  .prev,
  .next {
    width: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 40px;
    border-radius: 8px;
  }
  .prev,
  .start {
    svg {
      transform: rotate(180deg);
    }
  }
}
