.checkbox {
	display: inline-flex;
	align-items: center;
	+ .checkbox {
		margin-left: 8px;
	}
	input {
		display: none;
	}
	input:checked + label {
		span {
			font-weight: bold;
			color: #000;
			&::before {
				color: #000;
			}
		}
	}
	input:disabled + label {
		opacity: 0.8;
	}

	label {
		display: inline-flex;
		padding: 10px;
		text-align: center;
		span {
			color: #999;
			display: inline-flex;
			font-size: 80%;
			align-items: center;
			font-weight: 500;
			&::before {
				display: inline-block;
				content: "✓";
				font-size: 150%;
				color: #999;
				font-weight: bold;
				padding-right: 4px;
			}
		}
	}
}
