.counter {
	display: flex;
	max-width: 100px;
	align-items: center;
	input {
		width: 40%;
		padding: 0;
		border: none;

		text-align: center;
	}
	button {
		border: none;
		background-color: #f6f6f6;
		width: 30px;
		height: 30px;
		border-radius: 50%;
		font-size: 140%;
	}
}
