.radio_box {
	display: flex;
	border: 1px solid #f6f6f6;
	p {
		margin: 0;
		flex: 1;
		border-left: 1px solid #f6f6f6;
		&:nth-child(1) {
			border-left: 0;
		}
	}
	input {
		display: none;
	}
	input:checked + label {
		background-color: #ff592e;
		span {
			color: #fff;
		}
	}
	label {
		display: block;
		padding: 10px;
		text-align: center;
		span {
			display: block;
			&.label {
				font-weight: 500;
			}

			+ span {
				font-size: 80%;
				opacity: 0.8;
			}
		}
	}
}
