.container {
	margin: 50px auto;
	max-width: 360px;
	border-radius: 4px;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.16);
}

.flex {
	display: flex;
	align-items: center;
}
.js_sb {
	justify-content: space-between;
}

.default {
	padding: 20px;
	.category {
		color: #ff592e;
		font-size: 80%;
		font-weight: bold;
		margin-bottom: 5px;
	}
	.en_title {
		font-weight: normal;
		font-size: 80%;
		color: gray;
	}
	.description {
		color: gray;
	}
	.flex {
		margin-top: 20px;
	}
	.price {
		font-size: 140%;
		font-weight: bold;
	}
}

.inner_box {
	padding: 20px;
}
.select_ls {
	> li {
		margin-top: 20px;
	}
	.selects_tlt {
		margin-bottom: 8px;
		font-weight: bold;
	}
}

.personal_options {
	border: 1px solid #f6f6f6;
	li {
		min-width: 100%;
		padding: 12px;
		+ li {
			border-top: 1px solid #f6f6f6;
		}
		span {
			display: block;
			text-align: left;
			min-width: 30%;
		}
	}
}
